header > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}

header > div > a {
  text-decoration: none;
  color: lightgray;
  font-size: 13px;
}

header > div > select {
  text-decoration: none;
  color: white;
  font-size: 13px;
  background-color: black;
  padding: 7px;
  border: 1px solid black;
}

header > div > a:hover {
  cursor: pointer;
  color: white;
  transition-duration: 1s;
}

header > div > img {
  cursor: pointer;
}
